
<!-- ========= -->
<!--  ROW ONE  -->
<!-- ========= -->
<section class="row-one">

  <!-- temp container -->
  <section class="flex-temp-main_container">
    <a href="#!temp">
      <h6> Enclosure Temp </h6>
        <h1> 75 &#8457; </h1>
    </a>
  </section>

  <!-- rpm container -->
  <section class="flex-rpm-main_container">
    <a href="#!rpm">
      <h6> Motor RPM </h6>
        <h1> 18 RPM </h1>
    </a>
  </section>

</section>




<!-- ========= -->
<!--  ROW TWO  -->
<!-- ========= -->
<section class="row-two">

  <!-- video container -->
  <section class="flex-video-main_container">
    <a href="#!video">
      <img ng-src="../assets/images/backgrounds/video.png">
    </a>
  </section>

</section>




<!-- ========= -->
<!-- ROW THREE -->
<!-- ========= -->
<section class="row-three">

  <!-- light container -->
  <section class="flex-light-main_container">
    <a href="#!light">
      <h6> Light Control </h6>
        <h1> ON </h1>
    </a>
  </section>

  <!-- light container -->
  <section class="flex-vacuum-main_container">
    <a href="#!vacuum">
      <h6> VACUUM </h6>
        <h1> OFF </h1>
    </a>
  </section>

  <!-- fan container -->
  <section class="flex-fan-main_container">
    <a href="#!fan">
      <h6> Fan Speed </h6>
        <h1> HIGH </h1>
    </a>
  </section>

</section>
