
<section class="row-one">

  <!-- temp container -->
  <section class="flex-temp-main_container">
    <h6> Enclosure Temp </h6>
      <h1> 75 &#8457; </h1>
  </section>

  <!-- rpm container -->
  <section class="flex-rpm-main_container">
    <h6> Motor RPM </h6>
      <h1> 18 RPM </h1>
  </section>

</section>



<section class="row-two">

  <!-- video container -->
  <section class="flex-video-main_container">
    <img src="../assets/images/backgrounds/video.png">
  </section>

</section>



<section class="row-three">

  <!-- light container -->
  <section class="flex-light-main_container">
    <h6> Light Control </h6>
      <h1> ON </h1>
  </section>

  <!-- fan container -->
  <section class="flex-fan-main_container">
    <h6> Fan Speed </h6>
      <h1> HIGH </h1>
  </section>

</section>
