
<section class="flex-main-light">
  <section class="light-output-container">
    <h1 ng-show="lc.uistatus.light === 'ON'" class="text-shadow-green">{{lc.uistatus.light}}</h1>
    <h1 ng-show="lc.uistatus.light === 'OFF'" class="text-shadow-red">{{lc.uistatus.light}}</h1>
  </section>
  <section class="light-button-container">
    <form>
      <input type="radio" ng-show="lc.uistatus.light === 'OFF'" ng-click="lc.lightChange(lc.uistatus.light)" ng-model="lc.uistatus.light" value="ON">
      <input type="radio" ng-show="lc.uistatus.light === 'ON'" ng-click="lc.lightChange(lc.uistatus.light)" ng-model="lc.uistatus.light" value="OFF">
    </form>
    <section class="sub-footer">
      <a href="#!dashboard">
        <img src="../assets/images/icons/dashboard.ico">
      </a>
      <span> {{lc.status}} </span>
    </section>
  </section>
</section>
