
<section class="flex-main-light">
  <section class="light-output-container">
    <h1 ng-if="lc.uistatus.light === 'ON'" class="text-shadow-yellow">{{lc.uistatus.light}}</h1>
    <h1 ng-if="lc.uistatus.light === 'OFF'" class="text-shadow-red">{{lc.uistatus.light}}</h1>
  </section>
  <section class="light-button-container">
    <form>
      <input type="radio" ng-change="lc.lightChange(lc.uistatus.light)" value="ON" ng-model="lc.uistatus.light">
      <input type="radio" ng-change="lc.lightChange(lc.uistatus.light)" value="OFF" ng-model="lc.uistatus.light">
        <!-- <input type="color" ng-model="lc.uistatus.light_RGB" ng-value="lc.uistatus.light_RGB"> -->

    </form>
    <section class="sub-footer">
      <a href="#!dashboard">
        <img src="../assets/images/icons/dashboard.ico">
      </a>
      <span> {{lc.status}} </span>
    </section>
  </section>
</section>
