
<section class="flex-main-video">

  <section class="flex-videodata-container">

    <section class="flex-videostats-container">
      <div class="flex-dataDisplay-container">
        <h5> Connection Strength </h5>
          <h6> {{vc.uiconnection.strength}} </h6>
      </div>
      <div class="flex-dataDisplay-container">
        <h5> Connection Name </h5>
          <h6> {{vc.uiconnection.name}} </h6>
      </div>
      <div class="flex-dataDisplay-container">
        <h5> IP Address </h5>
          <h6> {{vc.uiconnection.address}} </h6>
      </div>
    </section>

    <section class="flex-videofeed-container">
      <img ng-src="../assets/images/backgrounds/video-light.png" ng-show="vc.uistatus.light === 'ON'">
      <img ng-src="../assets/images/backgrounds/video-dark.png" ng-show="vc.uistatus.light === 'OFF'">
    </section>
  </section>

  <section class="sub-footer">
    <a href="#!dashboard">
      <img ng-src="../assets/images/icons/dashboard.ico">
    </a>
    <span> {{vc.status}} </span>
  </section>

</section>
