
<section class="flex-login-container">
  <section class="login-message-container">
    <h1> {{reg.message}} </h1>
  </section>
  <section class="login-input-container">
    <img ng-src="../../assets/images/icons/favicon.ico" >
    <input type="text" ng-model="reg.user.username" placeholder="Username" />
    <input type="password" ng-model="reg.user.password" placeholder="Password" />
    <input type="password" ng-model="reg.user.email" placeholder="Email" />
    <button type="button" ng-click="reg.addNewUser(reg.user)"> Register </button>
    <a href="#!login"> Login </a>
  </section>
</section>
