
/*reset*/
* {
  padding: 0px;
  margin: 0px;
  font: 12px;
  font-family: serif sans-serif;
}

/*removing default link styling*/
a {
  text-decoration: none;
  color: #ffffff;
}

/*setting app display size*/
body {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  color: #ffffff;
}

/*main container is entire width and height of body*/
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*low temp*/
.text-blue {
  color: #0012ff;
}
/*optimal temp*/
.text-orange {
  color: #ff7300;
}
/*high temp*/
.text-red {
  color: #ff0000;
}
/*status message*/
.text-purple {
  color: #f900fe;
}
/*low temp*/
.text-shadow-blue {
  text-shadow: 5px 5px 5px #0012ff;
}
/*optimal temp*/
.text-shadow-orange {
  text-shadow: 5px 5px 5px #ff7300;
}
/*high temp*/
.text-shadow-red {
  text-shadow: 5px 5px 5px #ff0000;
}
/*status message*/
.text-shadow-purple {
  text-shadow: 5px 5px 5px #f900fe;
}
/*light on*/
.text-shadow-yellow {
  text-shadow: 5px 5px 5px #faff00;
}





/*====================*/
/*                    */
/*      MAIN VIEW     */
/*                    */
/*====================*/

/*row one container*/
main .row-one {
  display: flex;
  flex-direction: row;
  height: 30vh;
  align-items: center;
}
  /*temp container*/
  .row-one .flex-temp-main_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
    .flex-temp-main_container h6 {
      font-size: 1em;
    }
    .flex-temp-main_container h1 {
      font-size: 2.5em;
      font-family: fantasy;
    }
  /*rpm container*/
  .row-one .flex-rpm-main_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
    .flex-rpm-main_container h6 {
      font-size: 1em;
    }
    .flex-rpm-main_container h1 {
      font-size: 2.5em;
      font-family: fantasy;
    }



/*row two container*/
main .row-two {
  display: flex;
  flex-direction: row;
  height: 40vh;
  align-items: center;
}
  /*video container*/
  .row-two .flex-video-main_container {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
    .flex-video-main_container img {
      height: 100%;
      width: 60%;
    }



/*row three container*/
main .row-three {
  display: flex;
  flex-direction: row;
  height: 30vh;
  align-items: center;
}
  /*light container*/
  .row-three .flex-light-main_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
    .flex-light-main_container h6 {
      font-size: 1em;
    }
    .flex-light-main_container h1 {
      font-size: 2.5em;
      font-family: fantasy;
    }
  /*vaccum container*/
  .row-three .flex-vacuum-main_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
    .flex-vacuum-main_container h6 {
      font-size: 1em;
    }
    .flex-vacuum-main_container h1 {
      font-size: 2.5em;
      font-family: fantasy;
    }
  /*fan container*/
  .row-three .flex-fan-main_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
    .flex-fan-main_container h6 {
      font-size: 1em;
    }
    .flex-fan-main_container h1 {
      font-size: 2.5em;
      font-family: fantasy;
    }






/*====================*/
/*                    */
/*      SUB VIEWS     */
/*                    */
/*====================*/

/*TEMPERATURE sub view main container*/
.flex-main-temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: fantasy;
}
  /*TEMPERATURE data output container*/
  .flex-main-temp .temp-output-container {
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 100px 0px 20px 0px;
  }
    .flex-main-temp h1 {
      font-size: 10em;
      /*text-shadow: 3px 3px 3px #ffffff;*/
    }
    .flex-main-temp  h6{
      font-size: 2em;
      text-shadow: 1px 1px 1px #ffffff;
    }
  /*TEMPERATURE radio container*/
  .flex-main-temp .temp-radio-container {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
  }
    .temp-radio-container input {
      width: 50%;
    }



/*RPM sub view main container*/
.flex-main-rpm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: fantasy;
}
  /*RPM data output container*/
  .flex-main-rpm .rpm-output-container {
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 100px 0px 20px 0px;
  }
    .flex-main-rpm h1 {
      font-size: 10em;
      /*text-shadow: 3px 3px 3px #ffffff;*/
    }
    .flex-main-rpm  h6{
      font-size: 2em;
      text-shadow: 1px 1px 1px #ffffff;
    }
  /*RPM radio container*/
  .flex-main-rpm .rpm-radio-container {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
  }
    .rpm-radio-container input {
      width: 50%;
    }


/*VIDEO sub view main container*/
.flex-main-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: fantasy;
}
  .flex-main-video h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3.5em;
    margin: 20px 10px;
  }
  .flex-main-video img {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 70%;
    width: 70%;
    margin: 20px 0px;
  }



/*LIGHT sub view main container*/
.flex-main-light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: fantasy;
  color: #ffffff;
}
  .flex-main-light .light-output-container {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
  }
    .light-output-container h1 {
      font-size: 10em;
    }
  .flex-main-light .light-button-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
  }
    .light-button-container form {
      margin: 25px;
    }













/*sub footer container*/
.sub-footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: baseline;
  height: 100%;
  width: 100%;
}
  .sub-footer img {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    height: 5vh;
    margin-left: 40px;
  }
  .sub-footer span {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    height: 5vh;
    margin-right: 40px;
    font-family: fantasy;
    color: #f90bd3;
  }
